<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscador de Solicitud por CURP</title>
</head>
<body>
    <h1>Buscador de Solicitud por CURP</h1>
    <form action="/buscar_resultado" method="post">
        <label for="curp">CURP:</label>
        <input type="text" name="curp" required>
        <button type="submit">Buscar</button>
    </form>
</body>
</html>
