* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    background-image: url('Facu.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100vh; 
    color: white; 
}
  .form-register {
    width: 400px;
    background: #c63637;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000000;
  }
  
  .form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  
  .controls {
    width: 100%;
    background: #ff9688;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #ff0534;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
  }
  
  .form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
  }
  
  .form-register a {
    color: white;
    text-decoration: none;
  }
  
  .form-register a:hover {
    color: white;
    text-decoration: underline;
  }
  
  .form-register .botons {
    width: 100%;
    background: #ff0534;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
  }
  .warnings{
    width: 200px;
    text-align: center;
    margin: auto;
    color: #c63637;
    padding-top: 20px;
  }
  /* En style_menu.css */
nav a.logout-button {
  float: right;
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  margin: 10px;
  cursor: pointer;
}

nav a.logout-button:hover {
  background-color: #45a049;
}
